nul
.claude/
output_files/
Template_MiSTer-master/
CDi_MiSTer-main/
mpeg2fpga-orig/
prior-working-config/
ao486_MiSTer-master/
incremental_db/
TSConf_MiSTer-master/
releases-old/
bench/
*.ppm
*.lxt
*.mpg